
/* This is the new css file */
.category {
    height: 300px;
    width: 250px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;           
    display: flex;
}

.category img {
    width: 90%;
    max-height: 180px;              
    object-fit: contain;       
    padding: 0 10px;
}

.category a {
    text-decoration: none;
    color: rgb(35, 35, 35);
    opacity: 0.9;
}
.category h2{
    font-size: 22px;
}
.category h2,
.category p {
    padding: 5px ;
    margin-left: 15px;
}

.category p {
    font-size: 15px;
    font-weight: bold;
    color: rgb(9, 132, 209);
}

.category_container {
    position: relative;
    margin-top: -50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1600px;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}
