.hero_img {
    position: relative;
}

.hero_img::before {
    content: "";
    position: absolute;
    bottom: 0;
    /* box-sizing: border-box; */
    /* display: flex; */
    width: 100%;
    height: 300px;
    background: linear-gradient(
        to bottom,
        rgba(225, 255, 225, 0),
        rgba(225, 255, 225, 1)
    );

}
.hero_img__fadeBottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
    );
}